[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
SingleMainWindow=true
StartupNotify=false
StartupWMClass=io.github.tulon.winebar
Name=Wine Bar
Comment=Install and run Windows apps
Exec=winebar
Icon=winebar
Categories=System;Emulator
