[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
SingleMainWindow=true
StartupWMClass=io.github.tulon.winebar
Name=Wine Bar
Comment=Manage Wine Prefixes
Exec=winebar
Icon=winebar
Categories=System;Emulator
X-AppImage-Name=Wine Bar