name: Build

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        description: Version name (x.y.z)
      arch:
        required: true
        type: string
        description: Architecture (x64|arm)
      runs-on:
        required: true
        type: string
        description: Github runner name

  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
        description: Version name (x.y.z)
      arch:
        required: true
        type: choice
        description: Architecture
        options: 
          - x64
          - arm64
      runs-on:
        required: true
        type: choice
        description: Github runner name
        options:
          - ubuntu-24.04
          - ubuntu-24.04-arm

jobs:
  build-x64:
    name: Build
    runs-on: ${{ inputs.runs-on }}
    timeout-minutes: 20

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install mingw-w64-i686-dev g++-mingw-w64-i686 binutils-mingw-w64-i686 \
            libgtk-3-dev libglu1-mesa curl git unzip xz-utils zip ninja-build desktop-file-utils

      # Installing Flutter from snap means we can't control the version we are installing,
      # but on the positive side, the version from snap comes with older glib / gtk / whatever,
      # so the binaries it builds are able to run on older distros.
      - name: Install Flutter SDK
        run: sudo snap install flutter --classic

      # Unfortunately, Flutter from snap brings an old version of CMake with it. We build
      # a few C/C++ utilities in addition to our Flutter app and we need CMake 3.28 at least.
      # To overcome this issue, we download and extract a newer version of CMake and overlay
      # it on top of the Flutter installation from snap.
      - name: Overlay a newer CMake on top of the one that comes with Flutter SDK
        run: |
          rm -rf ~/cmake ~/cmake-inst
          mkdir -p ~/cmake ~/cmake-inst
          cd ~/cmake
          URL="https://github.com/Kitware/CMake/releases/download/v3.28.0/cmake-3.28.0-linux-$(uname -m).tar.gz"
          curl -L -O "$URL"  # The -O flag saves the file with the original name from the URL
          tar --strip-components=1 -axf * -C ~/cmake-inst/
          sudo mount -t overlay overlay -o lowerdir=$HOME/cmake-inst:/snap/flutter/current/usr /snap/flutter/current/usr/

      # This is necessary to be able to run the tools we use for code generation
      - name: Add $HOME/.pub-cache/bin to PATH
        run: |
          echo "PATH=$PATH:$HOME/.pub-cache/bin" >> $GITHUB_ENV

      - name: Clone repository
        uses: actions/checkout@v5

      - name: Regenerate generated files
        run: |
          flutter pub get
          dart pub global activate rps
          dart pub global activate dbus
          rps generate

      - name: Verify the generated files were up to date
        run: |
          # Note that pubspec.lock is ignored because "flutter pub get" may modify
          # it when Dart SDK is upgraded.
          NUM_MODIFIED_FILES=$(git status --porcelain | grep -v pubspec.lock | wc -l)
          if [ "$NUM_MODIFIED_FILES" != "0" ]; then
            echo "The working tree is not clean. The following files were modified:"
            git status --porcelain | grep -v pubspec.lock
            exit 1
          fi

      - name: Build AppImage
        run: |
          ./packaging/scripts/build_appimage.sh ${{ inputs.arch }} ${{ inputs.version }}

      - name: Run Native Code Tests
        env:
          CTEST_OUTPUT_ON_FAILURE: 1
        working-directory: ./build/linux/${{ inputs.arch }}/release
        run: | 
          cmake --build . --target run_tests

      - name: Run Flutter Tests
        run: flutter test

      - name: Upload build artefacts
        uses: actions/upload-artifact@v4
        with:
          name: "WineBar-${{ inputs.arch }}.AppImage"
          path: "build/linux/${{ inputs.arch }}/release/WineBar-${{ inputs.arch }}.AppImage"
          if-no-files-found: error
