name: Build

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        description: Version name (x.y.z)
      arch:
        required: true
        type: string
        description: Architecture (x64|arm)
      runs-on:
        required: true
        type: string
        description: Github runner name

jobs:
  build-x64:
    name: Build
    runs-on: ${{ inputs.runs-on }}
    timeout-minutes: 20

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install mingw-w64-i686-dev g++-mingw-w64-i686 binutils-mingw-w64-i686 \
            libgtk-3-dev libglu1-mesa ninja-build desktop-file-utils

      # We are not using a github action for installung Flutter, as both actions I've found
      # didn't support Linux on arm64. The reason for that is that linux-arm64 flutter builds
      # are not official. So, we install flutter in a manual way.
      - name: Install Flutter SDK
        run: |
          curl -L -o ~/flutter.tar.xz \
            https://storage.googleapis.com/flutter_infra_release/releases/stable/linux/flutter_linux_3.38.2-stable.tar.xz
          
          # This creates $HOME/flutter directory, as the archive stores a "fullter" directory
          # at the top level.
          tar -axf ~/flutter.tar.xz -C ~

          echo "PATH=$HOME/flutter/bin:$PATH" >> $GITHUB_ENV

      - name: Clone repository
        uses: actions/checkout@v5

      - name: Build AppImage
        run: |
          ./packaging/scripts/build_appimage.sh ${{ inputs.arch }} ${{ inputs.version }}

      - name: Upload build artefacts
        uses: actions/upload-artifact@v4
        with:
          name: "WineBar-${{ inputs.version }}-${{ inputs.arch }}.AppImage"
          path: "build/linux/x64/WineBar-${{ inputs.version }}-${{ inputs.arch }}.AppImage"
          if-no-files-found: error
