name: Build and Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: write

    steps:
      - name: Extract version number
        shell: bash
        run: |
          echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install mingw-w64-i686-dev g++-mingw-w64-i686 binutils-mingw-w64-i686 \
            libgtk-3-dev libglu1-mesa ninja-build desktop-file-utils

      - name: Clone repository
        uses: actions/checkout@v5

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

          # Take the Flutter SDK version from pubspec.yaml
          flutter-version-file: pubspec.yaml

      - name: Build x64 AppImage
        run: ./packaging/scripts/build_appimage.sh x64 "${VERSION}"

      - name: Diagnostic step
        if: ${{ failure() }}
        run: |
          cd ./build/linux/x64/release
          ninja

      - name: Build arm64 AppImage
        run: ./packaging/scripts/build_appimage.sh arm64 "${VERSION}"

      - name: Make a Release
        uses: softprops/action-gh-release@v2
        with:
          name: "Wine Bar ${VERSION}"
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: |
            "build/linux/x64/WineBar-${VERSION}-x64.AppImage"
            "build/linux/arm64/WineBar-${VERSION}-arm64.AppImage"