name: Build and Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  prepare:
    name: Build and Release
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.extract-version.outputs.version }}
    steps:
      - id: extract-version
        shell: bash
        run: echo "version=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT

  build-x64:
    name: Build x64 AppImage
    needs: prepare
    uses: ./.github/workflows/build.yml
    with:
      version: ${{needs.prepare.outputs.version}}
      arch: x64
      runs-on: ubuntu-24.04
  
  build-arm64:
    name: Build arm64 AppImage
    needs: prepare
    uses: ./.github/workflows/build.yml
    with:
      version: ${{needs.prepare.outputs.version}}
      arch: arm
      runs-on: ubuntu-24.04-arm

  release:
    name: Make a release
    runs-on: ubuntu-latest
    needs:
      - prepare
      - build-x64
      - build-arm64

    permissions:
      contents: write

    steps:
      - name: Download build artefacts
        uses: actions/download-artifact@v5

      - name: Make a Release
        uses: softprops/action-gh-release@v2
        with:
          name: "Wine Bar ${{needs.prepare.outputs.version}}"
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: |
            "WineBar-${{needs.prepare.outputs.version}}-x64.AppImage"
            "WineBar-${{needs.prepare.outputs.version}}-arm64.AppImage"